<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015851404211-gpcth3g5f7c0ti99fijaokjjkmv1glt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015851404211-gpcth3g5f7c0ti99fijaokjjkmv1glt4</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ACL_bA1bnlo3jsxCojICd0Tlxa_tdo4</string>
	<key>GCM_SENDER_ID</key>
	<string>1015851404211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.eminokobayashi.Nutorition</string>
	<key>PROJECT_ID</key>
	<string>food-a5735</string>
	<key>STORAGE_BUCKET</key>
	<string>food-a5735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015851404211:ios:e2f76c382a58775bd319c6</string>
</dict>
</plist>